body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #FE7B1F;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 400px;
  text-overflow: ellipsis;
  position: relative;
  margin-left: 50%;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.media{
  width: 200px;
  text-overflow-ellipsis: 1;
}

.media-body{
  text-overflow: ellipsis;
  width: 200px

}

.foot {
     margin-top: 50px;
     margin-bottom: -30px;
     background-color: #fe7b1f;
     color: #ffffff;
     left: 0;
     bottom: 0;
     width: 100%;
     text-align: center;
 }

.container {
                    position: relative;
                    width: 100%;
                    max-width: 1125px;

                }

                .container img {
                    width: 100%;
                    height: auto;
                }

                .container .btn-left {
                  position: absolute;
                  top: 50%;
                  left: 2.5%;
                  transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  background-color: #555;
                  color: white;
                  font-size: 16px;
                  padding: 12px 24px;
                  border: none;
                  cursor: pointer;
                  border-radius: 5px;
                  text-align: center;
                }

                .container .btn-right {
                  position: absolute;
                  top: 50%;
                  left: 97.5%;
                  transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  background-color: #555;
                  color: white;
                  font-size: 16px;
                  padding: 12px 24px;
                  border: none;
                  cursor: pointer;
                  border-radius: 5px;
                  text-align: center;
                }

                .container .btn-right:hover,.btn-left:hover {
                  background-color: black;
                }

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.page-footer{
    margin-top: 50px;
    margin-bottom: -3px;
    background-color: #fe7b1f;
    color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
}

