body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #dd8000;
}

.site-header .navbar-nav .nav-link .dropdown  {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group-item-selected{
  color: #fafafa;
  background-color: #dd8000;
}

.list-group-item-personal{
      color: #818182;
    background-color: #fdfdfe;
}

.list-group-item-personal:hover, .list-group-item-selected:hover{
  color: #fafafa;
  background-color: #dd8000;
}

.btn-orange{
  color: #ebba73;
  background-color: #dd8000;
}


element.style {
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.btn:hover {
    color: #f4e8ec;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: #dd8000;
    text-decoration: none;
    background-color: #fafafa;
}
.dropdown-item:hover {
    background-color: #dddddd;
}

.container-image {
    width: 100%;
    padding-right: unset;
    padding-left: unset;
}

.content-section-scroll {
    height: 250px;
    overflow-y: scroll;
}

.content-section-scroll-player {
    height: 150px;
    overflow-y: scroll;
}

.map-container-5{
overflow:hidden;
padding-top:10px;
padding-left: 10px;
padding-bottom:unset;
position:relative;
height:0;
}
.map-container-5 iframe{
left:0;
top:0;
height:200px;
width:300px;
position:absolute;
}

.map-container-6{
overflow:hidden;
padding-top:10px;
padding-left: 10px;
padding-bottom:unset;
position:relative;

}
.map-container-6 iframe{
left:0;
top:0;
height:300px;
width:450px;
position:absolute;
}

.content-section-post {
    height: 400px;
    overflow-y: scroll;
    background: #ffffff;
    padding: 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

.button-padding {
    padding-top: 10px;
}