{% extends "layout.html" %}
{% block content %}
        <div class="content-section" style="margin-bottom: 30px;">
            <form method="post" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Make a Reservation</legend>
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}
                        {% if form.title.errors %}
                           {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.date.label(class="form-control-label") }}
                        {% if form.date.errors %}
                           {{ form.date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <input type="date" value={{ form.date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.sport.label(class="form-control-label") }}
                        {% if form.sport.errors %}
                           {{ form.sport(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.sport.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.sport(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.club.label(class="form-control-label") }}
                        {% if form.club.errors %}
                           {{ form.club(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.club.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.club(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.field.label(class="form-control-label") }}
                        {% if form.field.errors %}
                           {{ form.field(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.field(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.start_time.label(class="form-control-label") }}
                        {% if form.start_time.errors %}
                           {{ form.start_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.start_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.start_time(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.duration.label(class="form-control-label") }}
                        {% if form.duration.errors %}
                           {{ form.duration(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.duration.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.duration(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.players.label(class="form-control-label") }}
                        {% if form.players.errors %}
                           {{ form.players(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.players.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.players }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
            <script>
                let sport_select = document.getElementById('sport');
                let club_select = document.getElementById('club');
                let field_select = document.getElementById('field');

                sport_select.onchange = function () {
                    sport = sport_select.value;

                    fetch('/clubs/' + sport).then(function (response) {
                        response.json().then(function (data) {
                            let optionHTML = '<option value="0">---select option---</option>';

                            for (let club of data.clubs) {
                                optionHTML += '<option value="' + club.id + '">' + club.name + '</option>';
                            }
                            club_select.innerHTML = optionHTML;

                        });
                    });
                };

                club_select.onchange = function () {
                    club = club_select.value;
                    sport = sport_select.value;

                    fetch('/field/' + club + '/' + sport).then(function (response) {
                        response.json().then(function (data) {
                            let optionHTML = '<option value="0">---select option---</option>';

                            for (let field of data.fields) {
                                optionHTML += '<option value="' + field.id + '">' + field.name + '</option>';
                            }
                            field_select.innerHTML = optionHTML;

                        });
                    });
                }
            </script>
        </div>
{% endblock content %}
{% block right_content %}
    <h4>Club Map</h4>
        <div id="map"></div>
        <script> // to be modified and improved
              var lat = {{ lat }};
              var lon = {{ lon }};
              var markers = {{ markers }};
              var marker, i;
              var map;
              var infowindow = new google.maps.InfoWindow();

              function initMap() {

                  // Map Options
                  var options = {
                      center: {lat: lat, lng: lon},
                      zoom: 13
                  };

                  // New map
                  map = new google.maps.Map(document.getElementById('map'), options);

                  // add multiple markers
                  for (i = 0; i < markers.length; i++) {
                      marker = new google.maps.Marker({
                          position: new google.maps.LatLng(markers[i][0], markers[i][1]),
                          map: map
                      });

                      google.maps.event.addListener(marker, 'click', (function(marker) {
                      return function() {
                          var infoWindow = new google.maps.InfoWindow({
                                content:props.content
                          });

                          marker.addListener('click', function(){
                                infoWindow.open(map, marker);
                          });
                      }
                      })(marker));
                  }
              }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCNB6dLAqToK9fbYsZKIHxreBLPGcn9so&callback=initMap" async defer></script>
        <form method="post" action="">
            {{ address.hidden_tag() }}
            <fieldset class="form-group">
                {% if latlon == 'nolocation' %}
                {% else %}
                    <legend class="border-bottom mb-4">Clubs closer to you</legend>
                        <ul>
                            {% for club in near_club %}
                                <li>{{ club.name }} , {{ club.distance }}m</li>
                            {% endfor %}
                        </ul>
                {% endif %}
                <div class="form-group">
                    {{ address.city.label(class="form-control-label") }}
                    {% if address.city.errors %}
                       {{ address.city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in address.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ address.city(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ address.address.label(class="form-control-label") }}
                    {% if address.address.errors %}
                       {{ address.address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in address.address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ address.address(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ address.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
{% endblock %}

