{% extends "layout_home.html" %}
{% block content %}
    {% if current_user.is_authenticated==false %}
            <div class="text-center" >
            <h1><b>No more excuses not to play sports! </b></h1>
            <h2>Join our community! Play the sports you love and get to know new people!</h2>
            </div>
            <div class="text-center">
            <h2 class="text-center">Check this out:</h2>
            <video width="auto"  controls>
                <source src="../static/home_images/Wesports - Kickstarter.mp4">
            </video>
            </div>

            <div class="container" style="margin-top: 20px;">
                <img class="mySlides" src="../static/home_images/batigol_fiore.jpg"
                 alt="Batigol" title="Batigol" width="400px">
                 <img class="mySlides" src="../static/home_images/rosina_toro.jpg"
                 alt="Rosina" title="Rosina">
                <img class="mySlides" src="../static/home_images/real-juve-del-piero.jpg"
                 alt="Pinturicchio" title="Pinturicchio">
                <img class="mySlides" src="../static/home_images/libertadores_2018_river_campeon.jpg"
                 alt="River" title="El mas grande">
                <button class="btn-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="btn-right" onclick="plusDivs(1)">&#10095;</button>



            <script>
                var slideIndex = 1;
                showDivs(slideIndex);

                function plusDivs(n) {
                  showDivs(slideIndex += n);
                }

                function showDivs(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                  }
                  x[slideIndex-1].style.display = "block";
                }
            </script>
            </div>





    {% endif %}
{% endblock content %}

