{% extends 'layout.html' %}
{% block content %}
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">My Events</legend>
    <div class="content-section-scroll" style="height: 600px">
        {% for event in myevents %}
                <div class="content-section">
                    <div class="row">
                            <div class="col-6">
                                <h2><a class="article-title" href="{{  url_for('player.event', event_id=event.id) }}">{{  event.title }}</a></h2>
                                {% for field in fields %}
                                    {% if field.id == event.field_id %}
                                        <p class="article-content">Sport: {{ field.sport }}</p>
                                    {% endif %}
                                {% endfor %}
                                <p class="article-content">Date: {{ event.date.strftime("%d-%m-%Y") }}</p>
                                <p class="article-content">Start Time: {{ event.startTime }}</p>
                                {% for participants in participants %}
                                    {% if participants.booking == event.id %}
                                        <div>
                                            <img class="rounded-circle" width="30" height="30" src={{ url_for('static', filename='profile_pics/' + participants.image_file) }}>
                                            <small>
                                                <a class="article-title" href="{{ url_for('player.players', player_id=participants.id) }}">{{ participants.name }} {{ participants.surname }}</a>
                                            </small>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-6">
                                {% for field in fields %}
                                    {% if field.id == event.field_id  %}
                                        {% for club in clubs %}
                                            {% if club.id == field.club_id %}
                                                <!--Google map-->
                                                <div id="map{{ event.id }}" class="z-depth-1-half map-container-5" style="height: 200px">
                                                  <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBCNB6dLAqToK9fbYsZKIHxreBLPGcn9so&q={{ club.lat }},{{ club.lon }}&zoom=16"
                                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                                </div>
                                                <small>
                                                    <a class="article-title " href="{{ url_for('club.club_profile', club_id=club.id) }}">{{ club.name }} - {{ field.field_name }}</a>
                                                </small>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    </fieldset>
{% endblock content %}
{% block right_content %}
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{current_user.username}}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <ul class="list-group">
        <a class="list-group-item list-group-item-action list-group-item-personal" href="{{ url_for('player.new_booking', location='nolocation') }}">New Booking</a>
        <a class="list-group-item list-group-item-action list-group-item-personal" href="{{ url_for('player.my_bookings') }}">My Bookings</a>
        <a class="list-group-item list-group-item-action list-group-item-selected" href="{{ url_for('player.my_events') }}">My Events</a>
        <a class="list-group-item list-group-item-action list-group-item-personal" href="{{ url_for('player.events') }}">Join Events</a>
        <a class="list-group-item list-group-item-action list-group-item-personal" href="{{ url_for('player.past_events') }}">Past Events</a>
        <a class="list-group-item list-group-item-action list-group-item-personal" href="{{ url_for('main.account') }}">Settings</a>
    </ul>
{% endblock %}